Repository henry61024/react-sign-in-practice: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fix:lint:es, prettier --write, npm run fix:lint:style

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": ["npm run fix:lint:es", "prettier --write"],
  "**/*.{css,scss,sass,less}": ["npm run fix:lint:style", "prettier --write"],
  "**/*.{json,md}": ["prettier --write"]
}

chore(storybook): add storybook with ts & addons
  .storybook/main.js
  package.json
  src/stories/0-Welcome.stories.tsx
  src/stories/1-Button.stories.tsx
  yarn.lock
Due: npm run fix:lint:es, prettier --write

chore(vscode): add vscode settings & extensions
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

refactor(folder): add components/pages/assets folders
  src/assets/logo.svg
  src/components/Button/index.css
  src/components/Button/index.stories.tsx
  src/components/Button/index.test.tsx
  src/components/Button/index.tsx
  src/index.tsx
  src/pages/App/index.css
  src/pages/App/index.stories.tsx
  src/pages/App/index.test.tsx
  src/pages/App/index.tsx
  src/stories/0-Welcome.stories.tsx
Due: npm run fix:lint:es, prettier --write, npm run fix:lint:style

chore(styled-compoents): add styled-compoents
  package.json
  yarn.lock
Due: prettier --write

feat(SignInForm): add SignInForm
  package.json
  src/components/SignInForm/index.stories.tsx
  src/components/SignInForm/index.test.tsx
  src/components/SignInForm/index.tsx
  src/components/SignInForm/trendmicro.d.ts
  src/index.css
  yarn.lock
Due: npm run fix:lint:es, prettier --write, npm run fix:lint:style

refactor(Button): remove redundant Button component
  src/components/Button/index.css
  src/components/Button/index.stories.tsx
  src/components/Button/index.test.tsx
  src/components/Button/index.tsx
Due: npm run fix:lint:es, prettier --write, npm run fix:lint:style

feat(Public): add Public page
  src/pages/Public/index.stories.tsx
  src/pages/Public/index.test.tsx
  src/pages/Public/index.tsx
Due: npm run fix:lint:es, prettier --write

feat(Menu): add Menu & MenuItem component
  package.json
  src/components/Menu/index.stories.tsx
  src/components/Menu/index.test.tsx
  src/components/Menu/index.tsx
  src/components/MenuItem/index.stories.tsx
  src/components/MenuItem/index.test.tsx
  src/components/MenuItem/index.tsx
  yarn.lock
Due: npm run fix:lint:es, prettier --write

feat(Header): add GuestHeader & UserHeader component
  src/components/GuestHeader/index.stories.tsx
  src/components/GuestHeader/index.test.tsx
  src/components/GuestHeader/index.tsx
  src/components/UserHeader/index.stories.tsx
  src/components/UserHeader/index.test.tsx
  src/components/UserHeader/index.tsx
Due: npm run fix:lint:es, prettier --write

feat(auth): add FakeAuth service & AuthHeader container
  src/containers/AuthHeader/index.stories.tsx
  src/containers/AuthHeader/index.test.tsx
  src/containers/AuthHeader/index.tsx
  src/services/Auth/__mocks__/index.ts
  src/services/Auth/index.test.ts
  src/services/Auth/index.ts
Due: npm run fix:lint:es, prettier --write

feat(Protected): add Protected page
  src/pages/Protected/index.stories.tsx
  src/pages/Protected/index.test.tsx
  src/pages/Protected/index.tsx
Due: npm run fix:lint:es, prettier --write

feat(PrivateRouter): add PrivateRouter container
  src/containers/PrivateRouter/index.test.tsx
  src/containers/PrivateRouter/index.tsx
Due: npm run fix:lint:es, prettier --write

feat(Login): add Login page
  src/pages/Login/index.stories.tsx
  src/pages/Login/index.test.tsx
  src/pages/Login/index.tsx
Due: npm run fix:lint:es, prettier --write

feat(AppMenu): add AppMenu container
  src/containers/AppMenu/index.stories.tsx
  src/containers/AppMenu/index.test.tsx
  src/containers/AppMenu/index.tsx
Due: npm run fix:lint:es, prettier --write

feat(App): add App page & routers
  src/index.tsx
  src/pages/App/index.css
  src/pages/App/index.stories.tsx
  src/pages/App/index.test.tsx
  src/pages/App/index.tsx
Due: npm run fix:lint:es, prettier --write, npm run fix:lint:style

wip(redux-saga): adding redux-saga
  package.json
  src/actions/index.test.tsx
  src/actions/index.ts
  src/containers/AuthHeader/index.tsx
  src/containers/PrivateRouter/index.tsx
  src/history/index.ts
  src/index.tsx
  src/pages/App/index.tsx
  src/pages/Login/index.tsx
  src/reducers/index.ts
  src/sagas/index.ts
  src/sagas/signin.ts
  src/services/Auth/__mocks__/index.ts
  src/services/Auth/index.ts
  src/types.d.ts
  yarn.lock
Due: npm run fix:lint:es, prettier --write

feat(sign in flow): add async sign in flow using redux-saga
  package.json
  src/actions/index.test.tsx
  src/actions/index.ts
  src/containers/AuthHeader/index.tsx
  src/containers/PrivateRouter/index.tsx
  src/history/index.ts
  src/index.tsx
  src/pages/App/index.tsx
  src/pages/Login/index.tsx
  src/reducers/index.ts
  src/sagas/index.ts
  src/sagas/signin.ts
  src/services/Auth/__mocks__/index.ts
  src/services/Auth/index.ts
  src/types.d.ts
  yarn.lock
Due: npm run fix:lint:es, prettier --write

refactor(*): refactor by redux-typescript best practice
  src/actions/auth.ts
  src/actions/index.test.tsx
  src/actions/index.ts
  src/actions/signInForm.ts
  src/containers/AuthHeader/index.tsx
  src/containers/PrivateRouter/index.tsx
  src/index.tsx
  src/pages/App/index.tsx
  src/pages/Login/index.tsx
  src/reducers/auth.ts
  src/reducers/index.ts
  src/reducers/signInForm.ts
  src/sagas/auth.ts
  src/sagas/index.ts
  src/sagas/signin.ts
  src/services/Auth/index.ts
  src/store/index.ts
  src/types.d.ts
  src/types/actions.ts
  src/types/common.ts
  src/types/data.ts
  src/types/index.ts
  src/types/reducers.ts
  src/types/thirdparty.d.ts
Due: npm run fix:lint:es, prettier --write

fix(Login): fix click cancel button won't close SignInform problem
  src/pages/Login/index.tsx
Due: npm run fix:lint:es, prettier --write

fix(PrivateRoute): make protected pages visable if signOut fail
  src/containers/PrivateRouter/index.tsx
Due: npm run fix:lint:es, prettier --write

fix(authReducer): make auth reducer check stricker
  src/reducers/auth.ts
Due: npm run fix:lint:es, prettier --write

test(*): add and fix tests
  src/actions/auth.test.ts
  src/actions/index.test.tsx
  src/actions/signInForm.test.ts
  src/components/SignInForm/index.test.tsx
  src/containers/AuthHeader/index.test.tsx
  src/containers/AuthHeader/index.tsx
  src/containers/PrivateRouter/index.test.tsx
  src/containers/PrivateRouter/index.tsx
  src/pages/App/index.test.tsx
  src/pages/Login/index.test.tsx
  src/pages/Login/index.tsx
  src/reducers/auth.test.ts
  src/reducers/signInForm.test.ts
  src/services/Auth/index.test.ts
  src/utils/index.ts
  src/utils/test.tsx
  tsconfig.json
Due: npm run fix:lint:es, prettier --write
